<div class="main-panel">

    <!-- Navbar -->
      <app-navbar title="Doctors"></app-navbar>
    <!-- End Navbar -->
    <div class="content">

        <button routerLink="/dashboard/add-doctor" class="btn btn-info btn-fill btn-wd">Add Doctor</button>

      <div class="row">
        <div class="col-md-12">
          <div class="card pl-5 pr-5">
            <div class="header">
              <h4 class="title">Doctors List</h4>
              <p class="category">List of all doctors.</p>
            </div>
            <div class="content table-responsive table-full-width">
              <table class="table table-striped">
                <thead>
                <tr><th>UID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Speciality</th>
                <th>Action</th>
                </tr></thead>
                <tbody>
                <tr *ngFor="let item of doctorsDocs | async">
                  <td *ngIf="item.role == 'doctor'">{{ item.uid }}</td>
                  <td  *ngIf="item.role == 'doctor'">Dr. {{ item.fName }} {{ item.lName }}</td>
                  <td *ngIf="item.role == 'doctor'">{{ item.email }}</td>
                  <td *ngIf="item.role == 'doctor'">{{ item.speciality }}</td>
                  <td *ngIf="item.role == 'doctor'">
                    <button (click)="editUser(item.uid)" class="btn btn-sm btn-primary btn-icon"><i class="fa fa-edit"></i></button>
                    <button (click)="deleteUser(item.uid)" class="btn btn-sm btn-danger btn-icon ml-3"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>
  </div>