<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="#" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="../assets/img/logo-small.png">
        </div>
      </a>
      <a href="#" class="simple-text logo-normal">
        Smart Health Card
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li routerLink="/dashboard" routerLinkActive="active">
          <a >
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li *ngIf="fireUserData && fireUserData.role && fireUserData.role == 'admin'"  routerLink="/dashboard/doctors" routerLinkActive="active">
          <a>
            <i class="nc-icon nc-diamond"></i>
            <p>Doctors</p>
          </a>
        </li>

        <li  routerLink="/dashboard/patients" routerLinkActive="active">
          <a>
            <i class="nc-icon nc-circle-10"></i>
            <p>Patients</p>
          </a>
        </li>
      </ul>
    </div>
  </div>